<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- http://getbootstrap.com/ -->
        <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet" />
        
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        
        <!-- css for styling  charts-->
        <link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" />
        
        <title>Sentiments</title>
        
    </head>
    <body>
        <div class="container"  style="margin-top:10%; margin-bottom:5%; ">
            <div class="page-header">
                <h1>
                    Twitter sentiments calendar
                    <small>{% block subtext %}{% endblock %}</small>
                </h1>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
